body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1496px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1505px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:1505px;
  height:25px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 102, 204, 0.686274509803922);
}
#u1 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:51px;
  width:68px;
  height:21px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 102, 204, 0.686274509803922);
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:155px;
  width:68px;
  height:18px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:200px;
  width:68px;
  height:18px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:247px;
  width:68px;
  height:18px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:155px;
  width:39px;
  height:18px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:155px;
  width:39px;
  height:24px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:205px;
  width:68px;
  height:18px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:250px;
  width:68px;
  height:18px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:200px;
  width:97px;
  height:18px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:244px;
  width:68px;
  height:18px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:297px;
  width:68px;
  height:18px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:297px;
  width:68px;
  height:18px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:155px;
  width:68px;
  height:18px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:297px;
  width:68px;
  height:18px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:98px;
  width:68px;
  height:18px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:98px;
  width:272px;
  height:27px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1505px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 102, 204, 0.509803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:6px;
  width:1505px;
  height:31px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:56px;
  height:22px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:9px;
  width:60px;
  height:20px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:9px;
  width:60px;
  height:20px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  color:#0000CC;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:9px;
  width:60px;
  height:20px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  color:#0000CC;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1505px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:346px;
  width:1505px;
  height:25px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 102, 204, 0.686274509803922);
}
#u24 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:351px;
  width:99px;
  height:20px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 102, 204, 0.686274509803922);
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:425px;
  width:39px;
  height:18px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:515px;
  width:54px;
  height:18px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:588px;
  width:68px;
  height:18px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:654px;
  width:68px;
  height:18px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:434px;
  width:578px;
  height:72px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1505px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:711px;
  width:1505px;
  height:25px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 102, 204, 0.686274509803922);
}
#u31 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:716px;
  width:99px;
  height:20px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 102, 204, 0.686274509803922);
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:808px;
  width:68px;
  height:18px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:781px;
  width:578px;
  height:72px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:781px;
  width:722px;
  height:72px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:9px;
  width:60px;
  height:20px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:942px;
  width:140px;
  height:40px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
